@import url("./style.css");

/* container хэсгийг дээрээс доошоо биш хэвтээ болгоно */
/* container нь бүх тагуудын гадуур бүрхэнэ */
body {
  background-color: var(--primary);
}

.container {
  display: flex;
  height: 1000px;
}

/* зүүн талын мэдээллийн хэсэг */
.info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #121212;
  padding: 60px 30px;
  /* max-width: 600px; */
  width: 600px;
}

/* heading-ын хэмжээ болон өнгийг өөрчлөх */
.info h2 {
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin: 30px 0;
}

/* Нэмэлт мэдээллүүдийн bullet point-уудыг устгана */
.sub-info ul {
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
  list-style: none;
  list-style-type: none;
  margin-top: 100px;
  padding: 0px;
}

.sub-info li {
  display: flex;
  gap: 20px;
}

.sub-info li p {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

/* icon-ууд */
span {
  color: white;
  font-size: 32px !important;
}

/* login хэсэг буюу зүүн талын хэсэг */
.login-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
}

/* btn буюу товчлуур */
.btn {
  border: 2px solid var(--gray-8);
  padding: 5px 10px;
  box-shadow: 2px 2px 0 var(--gray-8);
  transform: translate(-2px, -2px);
  transition: all 0.1s ease;
  width: 150px;
}

.btn:hover {
  box-shadow: 0px 0px 0 var(--gray-8);
  transform: none;
}

/* дээр байршуулах товчлуур */
.btn-top {
  position: absolute;
  top: 30px;
  right: 30px;
}

.login-box h1 {
  position: relative;
  z-index: 1;
}

.login-box form {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.login-box form div {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.form-input {
  height: 48px;
  outline: 2px solid var(--gray-8);
  border-radius: 0;
}

.form-input:focus {
  outline: 3px solid var(--gray-8);
  outline-offset: 0;
}

.login-or {
  text-align: center;
}

/* Бусад сошиал аккаунтаар нэвтрэх */
.social {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* Хэлбэрт оруулна */
.social div {
  width: 65px;
  height: 65px;
  outline: 1px solid var(--gray-8);
  background-position: 50%;
  background-color: white;
  cursor: pointer;
  border-radius: 2px;
}

/* хулгана очих үед...*/
.social div:hover {
  background-color: whitesmoke;
}

/* таарсан зургыг уншина */
/* .facebook {
  background-image: url("../images/facebook2.svg");
} */

.google {
  background-image: url("../images/google.svg");
}

.spark::before {
  animation-name: pop;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
}

.spark::after {
  animation-name: pop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* нэмэлт бөөрөнхийнүүд нэмэх */